section {
	min-height: 100vh;
}

section.home {
	position: relative;

	.description {
		margin-top: 3rem;
		max-width: 60vw;

		@include media-breakpoint-down(md) {
			max-width: 80vw;
		}
	}
}

.scroll-indicator {
	text-align: center;
	width: 100vw;
	height: auto;

	@extend .font-sm;
	@extend .color-soft-peach;

	svg path {
		fill: $soft-peach;
	}

	p {
		margin-top: 1%;
	}
}
