section {
	min-height: 100vh;
}

section.home {

}

.scroll-indicator {
	text-align: center;
	width: 100vw;
	height: auto;

	@extend .font-sm;
	@extend .color-soft-peach;

	svg path {
		fill: $soft-peach;
	}

	p {
		margin-top: 1%;
	}
}
