section {
	min-height: 100vh;
}

.description {
	margin-top: 3rem;
	max-width: 60vw;

	@include media-breakpoint-down(md) {
		max-width: 80vw;
	}
}

section.home {
	position: relative;
}

.scroll-indicator {
	text-align: center;
	width: 100vw;
	height: auto;

	@extend .font-sm;
	@extend .color-soft-peach;

	svg path {
		fill: $soft-peach;
	}

	p {
		margin-top: 1%;
	}
}

section.about-us {
	min-height:  unset !important;
	.logos-wrapper {
		display: flex;
		gap: 3rem;
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem 3rem;
	}

	.logo-holder {
		width: 8vw;
		aspect-ratio: 16/9;
		// flex-basis: calc(80%/5);
		flex: 1;
		align-items: center;
		justify-content: center;
		background-color: $smoke;
		border-radius: 50%;
		padding: 1.5rem;

		svg {
			width: 100%;
			height: auto;
			aspect-ratio: 1;
		}
	}
}
