/* Utilities */


/* Fonts Util */

/* Define Font sizes variables and value */
/* Root value = 16px */
$sizes: (
	sm: .8rem,
	md: 1rem,
	lg: 1.5rem,
	xl: 2rem,
	xxl: 2.5rem,
	3xl: 3rem
);

/* Define font sizes class name */
@each $name, $size in $sizes {
	.font-#{$name} {
		font-size: $size;
	}
}
