/* Utilities */


/* Fonts Util */
/* Define Font sizes variables and value */
/* Root value = 16px */
$sizes: (
	sm: .8rem,
	md: 1rem,
	lg: 1.5rem,
	xl: 2rem,
	xxl: 2.5rem,
	3xl: 3rem
);

/* Define font sizes class name */
@each $name, $size in $sizes {
	.font-#{$name} {
		font-size: $size;
	}
}

.font-header {
	font-size: 4rem;

	@include media-breakpoint-down(md) {
		font-size: 3rem;
	}
}

/* Posistion Absolute position */

.absolute-center {
	position: absolute;
	inset: 0;
	margin: auto;
}

.absolute-top {
	position: absolute;
	top: 0;
	margin: auto;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	margin: auto;
}

.absolute-left {
	position: absolute;
	left: 0;
	margin: auto;
}

.absolute-right {
	position: absolute;
	right: 0;
	margin: auto;
}

/* Container Padding */

.container-padding {
	padding: 3rem 1.5rem;
}
